!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title start
    %link{:rel => 'stylesheet', :href => "/css/reset.css"}
    %link{:rel => 'stylesheet', :href => "/css/960.css"}
    %link{:rel => 'stylesheet', :href => "/css/text.css"}
    %link{:rel => 'stylesheet', :href => "/css/smoothness/jquery-ui-1.8.1.custom.css"}
    %link{:rel => 'stylesheet', :href => "/style.css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Crimson+Text", :rel => "stylesheet", :type => "text/css"}/

    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/jquery-ui-1.8.1.custom.min.js"}

    :javascript
      $(function () {
        // create sliders, set to hidden field
        if ($('.slider').length) {
          $('.slider').slider({
            step: 1,
            min: 0,
            max: 10,
            value: 1,
            change: function (event, ui) {
              $(this).next('.caption').text(ui.value);
              $(this).siblings('.value').show().attr('value', ui.value);
            }
          });
          $('.slider').each(function () {
            $(this).slider('value', $(this).siblings("input[type='hidden']").attr('value'));
          });

          // create list hover properties
          $('li .idea_wrapper').hover(
            function () { $(this).find('.delete').addClass('icon'); },
            function () { $(this).find('.delete').removeClass('icon'); }
          );
        }
      });
  %body
    .top_nav_wrapper
      .container_12
        .grid_4
          = link_to_unless_current("about", "/#{ @bevy.token }/about")
          |
          = link_to_unless_current("brainstorm", "/#{ @bevy.token }")
        .grid_8
          Share your bevy of ideas:
          = link_to @current_url
          or 
          = link_to "start over", "/"
        .clear
      .clear


    .container_12
      .grid_12
        %h1 ideator

      = yield

      .clear
      .grid_12.bottom_nav
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16806428-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
