-# record ||= Idea.new

- if record.new?
  %h3 CREATE BRILLIANT IDEA DUDE
- else
  %h3 
    EDIT STALE IDEA
    %span.new_link
      = link_to "nevermind", "/#{@bevy.token}"

%form{:action => record.new? ? "/#{@bevy.token}/create" : "/#{@bevy.token}/update/#{record.id}", :method => 'post'}
  %table
    %tr.field
      %td
        = label_for 'name', 'THE IDEA', :class => 'the_idea'
      %td
        %textarea.name{:id => 'name', :name => 'name'}
          = record.name

    %tr.field
      %td
        = label_for 'clarity_of_audience', 'CLARITY OF AUDIENCE'
      %td
        = slider_for 'clarity_of_audience', record.clarity_of_audience

    %tr.field
      %td
        = label_for 'clarity_of_problem', 'CLARITY OF PROBLEM'
      %td
        = slider_for 'clarity_of_problem', record.clarity_of_problem

    %tr.field
      %td
        = label_for 'clarity_of_need', 'CLARITY OF NEED'
      %td
        = slider_for 'clarity_of_need', record.clarity_of_need

    %tr.field
      %td
        = label_for 'clarity_of_ability_to_meet_need', 'CLARITY OF ABILITY TO MEET NEED'
      %td
        = slider_for 'clarity_of_ability_to_meet_need', record.clarity_of_ability_to_meet_need

  %input{:type => 'submit', :value => "Keep it"}
